*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	height: 588px;
	background-image: url(img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
}

.logo_and_nav{
	width: 100%;
	min-height: 90px;
	background-color: #fff;
	opacity: 0.9;
	float: left;
}

header .header_logo{
	margin-left: 12%;
	margin-top: 20px;
}

header .header_logo a{
	color: #b73958;
	font: 27px Arial;
	font-weight: 800;
	text-transform: uppercase;
	cursor: pointer;
}

.topnav{
	float: right;
	margin-right: 12%;
	margin-top: -20px;
}

.topnav .icon{
	display: none;
}

.topnav a{
	padding: 5px 15px;
	color: #8c8a8a;
	font: 20px;
}

.topnav a:hover{
	color: #000;
	transition: 0.4s;
}

.topnav a.login{
	background-color: #b73958;
	border-radius: 4px;
	color: #fff;
}

.topnav a.login:hover{
	background-color: #af183d;
	border-radius: 4px;
	color: #fff;
}

h1{
	font: 68px Arial;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	color: #fff;
	text-shadow: 0 0 1em black;
	padding-top: 400px;
}

p.header_p{
	font: 25px Arial;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 1em black;
}

/* Section of simply */

section.simply{
	width: 100%;
	min-height: 428px;
	float: left;
	border-bottom: 2px solid #cdcccc;
	text-align: center;
	padding-bottom: 40px;
}

h2{
	font: 35px Arial;
	color: #3f3b3b;
	text-align: center;
	margin-top: 50px;
}

section.simply p.after_slogan{
	font: 17px Arial;
	text-align: center;
	color: #8c8a8a;
	margin-top: 20px;
	margin-left: 18%;
	margin-right: 18%;
}

section.simply .tickets, .camera, .beer, .devices{
	display: inline-block;
	width: 179px;
	height: 179px;
	margin: 70px 37px 0px 37px;
	border-radius: 30px; 
}

.tickets{
	background-image: url(img/tickets.png);
	background-repeat: no-repeat;
	background-position: center;
}
.camera{
	background-image: url(img/camera.png);
	background-repeat: no-repeat;
	background-position: center;
}
.beer{
	background-image: url(img/beer.png);
	background-repeat: no-repeat;
	background-position: center;
}
.devices{
	background-image: url(img/devices.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* section with characteristics */

section.characteristics{
	float: left;
	width: 100%;
	min-height: 630px;
	padding-bottom: 40px;
}

section.characteristics .news_img{
	display: block;
	min-height: 132px;
	margin-left: 12%;
	margin-right: 12%;
	margin-top:50px;
	float: left;
} 

.news_img img{
	float: left;
	padding: 0px 30px 10px 0;
}

.news_img h4{
	font: 27px Arial;
	color: #404040;
	padding-top: 5px;
}

.news_img p{
	font: 14px Arial;
	line-height: 20px;
	color: #8c8a8a;	
	margin-top: 10px;
}

/* Footer */ 

footer{
	background-color: #2c302d;
	width: 100%;
	min-height: 230px;
	float: left;
	text-align: center;
	padding-bottom: 30px;
}

footer ul{
	display: inline-block;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

footer ul li{
	list-style: none;
	text-align: left;
	padding: 5px 0 5px 0;
}

footer ul li a{
	text-decoration: none;
	color: #8b8b8b;
	font: 15px Arial;
}

footer ul li a:hover{
	text-decoration: none;
	color: #fff;
	font: 15px Arial;
	transition: 0.4s;
}

footer ul h5{
	font: 18px Arial;
	text-align: left;
	color: #fff;
	padding-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #8b8b8b;
}

footer ul.links li{
	padding:0;
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: 10px;
}

footer ul.links img:hover{
	opacity: 0.5;
	transition: 0.4s;
}

footer .line{
	padding-top: 20px;
	width: 100%;
	display: block;
	border-bottom: 2px solid #515553;
}

footer p.author{
	font: 14px Arial;
	text-align: center;
	color:#515553;
	margin-top: 15px;
}






@media screen and (max-width: 800px){
	
	header{
		height: 500px;
	}

	h1{
		font: 45px Arial;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		color: #fff;
		text-shadow: 0 0 1em black;
		padding-top: 250px;
	}

	p.header_p{
		font: 20px Arial;
		text-align: center;
		color: #fff;
		text-shadow: 0 0 1em black;
	}

	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		display: block;
		color: #000;
		margin-right: 0%;
		margin-top: -20px;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 240px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
		left: px;
	}

	h2{
		font: 28px Arial;
		color: #3f3b3b;
		text-align: center;
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
	}	
	
	section.simply p.after_slogan{
		font: 15px Arial;
		text-align: center;
		color: #8c8a8a;
		margin-top: 20px;
		margin-left: 18%;
		margin-right: 18%;
	}

	section.simply .tickets, .camera, .beer, .devices{
		display: inline-block;
		width: 139px;
		height: 139px;
		margin: 30px 37px 0px 37px;
		border-radius: 30px; 
	}






}

@media screen and (max-width: 500px){
	.topnav a.icon{
		float: right;
		display: block;
		color: #000;
		margin-right: -30px;
		margin-top: -20px;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -100px;
	}
	header .topnav.responsive{
		height: 240px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -100px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
	}
}


@media screen and (max-width: 375px){
	.topnav a.icon{
		float: right;
		display: block;
		color: #000;
		margin-right: -30px;
		margin-top: -20px;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -50px;
	}
	header .topnav.responsive{
		height: 240px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -50px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
	}
}