*{
	margin:0;
	padding:0;
}

@media screen and (max-width: 750px){

	header{
		height: 500px;
	}

	header a.logo{
		margin-left: 1%;
	}

	header div.nav ul{
		float: right;
		margin-right: 1%;
		margin-top: 40px;
	}

	header div.nav ul li{
		display: inline;
		margin:0 15px 0 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		list-style: none;
	}

	header div.nav ul li a{
		padding: 3px;
		font: bold 12px Arial;
		color: white;
		text-decoration: none;
	}

	header div.nav ul li a:hover{
		padding: 3px;
		font: bold 12px Arial;
		color: #f9b2bd;
		text-decoration: none;
		transition: 0.4s;
		border-bottom: 1px solid #f9b2bd;
		border-top: 1px solid #f9b2bd;
	}

	header h1{
		font: bold 30px Arial;
		margin-top: 100px;
	}

	header h2{
		text-align: center;
		color: white;
		font: 16px Arial;
		margin-top: 20px;
	}

	section.services{
		padding-bottom: 20px;
	}

	section.services h3{
		font: 18px Arial;
		margin-top: 40px;
	}

	section.services p.after_slogan{
		font: 14px Arial;
		color: #555555;
		text-align: center;
		margin-top: 20px;
		margin-right: 15px;
		margin-left: 15px;
	}

	section.services div{
		width: 80%;
		height: 218px;
		display: inline-block;
		margin-top: 40px;
		margin-right: 15px;
		margin-left: 15px;
	}

	section.services div h4{
		font: 14px Arial;
	}

	section.services div p{
		font: 14px Arial;
		line-height: 20px;
	}

	section.about_us h3{
		color: #555555;
		font: 18px Arial;
		text-align: center;
		text-transform: uppercase;
		margin-top: 40px;
	}

	section.about_us p.after_slogan{
		font: 14px Arial;
	}

	section.about_us div.left_text, .right_text{
		display: inline;	
	}

	section.about_us div.left_text p, div.right_text p{
		text-align: left;
		font: 13px Arial;
		line-height: 22px;
		color: #555555;
		padding-left:5%;
		padding-right:5%;
		margin-bottom: 20px;
	}

	section.works h3{
		color: #555555;
		font: 18px Arial;
		text-align: center;
		text-transform: uppercase;
		margin-top: 40px;
	}

	section.works p.after_slogan{
		font: 14px Arial;
		margin-bottom: 15px;
	}

	section.works div.one_foto, .two_foto, .three_foto,
 	.four_foto, .five_foto, .six_foto, .seven_foto,
  	.eight_foto, .nine_foto{
		width: 80%;
		height: 320px;
		display: inline-block;
		margin-top: 15px;
	}

	section.get_in_touch{
		height: 250px;
	}
	
	section.get_in_touch h5{
		text-align: center;
		color: #fff;
		font: 21px Arial;
		line-height: 30px;
		margin-top:40px;
	}

	section.get_in_touch a{
	display: block;
	margin:40px auto;
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 3px;
	font: 16px Arial;
	text-transform: uppercase;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	color: white;	
}

section.get_in_touch a:hover{
	display: block;
	margin:40px auto;
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 3px;
	font: 16px Arial;
	text-transform: uppercase;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	color: #c0301c;
	background-color: white;
	transition: 0.4s;	
}

footer{
	width: 100%;
	height: 180px;
	float: left;
	background-color: #c0301c;
}

footer ul{
	text-align: center;
	margin:50px auto 0 auto;
}

}